.contribution-list{
    max-height:300px;
    overflow-y: auto;
    padding-right: 6px;
}

.contribution-list::-webkit-scrollbar{
    width:5px;
}

.contribution-list::-webkit-scrollbar-track{
    background:#f1f1f1;
    border-radius:10px;
}

.contribution-list::-webkit-scrollbar-thumb{
    margin-left: 10px;
    background:#004951;
    border-radius:10px; 
}

.contribution-list::-webkit-scrollbar-thumb:hover{
    background:rgb(7, 0, 64);
}